<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <div class="centralizarItens">
          <img src="../../../assets/logo.png">
        </div>
        <h1>Quantos pontos você deseja <br>alcançar nessa semana?</h1>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input></ion-input>
        </ion-item>    
      </ion-card-content>
      <div class="centralizarItens btnCriar">
        <ion-button (click)="home()" color="primary">Criar</ion-button>  
      </div>
    </ion-card>
  </div>
</ion-content>
