<ion-content class="background">
  
  <div class="logo">
    <img src="../../../assets/logoBranco.png" alt="">
    <div class="texto">
      <p class="titulo">Sua nova forma de levar a <br>vida com leveza.</p>
    </div>
  </div>

  <div class="divBtn">
      <div class="btnCentro">
        <ion-button (click)="register()" expand="block" color="secondary">Criar conta</ion-button>
      </div>
      <div class="btnCentro">
        <a (click)="login()" class="linkInicial">Já tenho conta, fazer login</a>
      </div>
  </div>


</ion-content>
